<div class="main">
   <div class="header">
      <div class="menu-mobile">
         <label for="nav-mobile-input">
            <i class="fa-solid fa-bars"></i>
         </label>
      </div>

      <div class="user-avatar">
         <div class="user-img-container">
            <img src="https://demo.dashboardpack.com/cryptocurrency-html/img/transfer/4.png" alt=""
               class="user-img">
         </div>
         <div class="user-info">
            <p class="user-name">User Name</p>
            <p class="user-role">User Role</p>
         </div>

         <div class="user-function">
            <a href="" class="function-item">Log Out</a>
         </div>
      </div>
   </div>

   <div class="content">
      <div class="grid">
         <p class="page-title">Danh sách phản hồi</p>
         <div class="table-list-container">
            <div class="row filter-row-mobile">
               <div class="col l-8 m-12 c-12">

               </div>

               <div class="col l-4 m-12 c-12">
                   <div class="search-bar">
                     <i class="search-icon fas fa-search"></i>
                     <input id="myInputAdmin" class="search-input" type="text" name="input-search" placeholder="Nhập tìm kiếm...">
                  </div>
               </div>
            </div>

            <div class="table-container">
               <table class="data-table">
                  <tr>
                     <th scope="col">Tên khách hàng</th>
                     <th scope="col">Số điện thoại</th>
                     <th scope="col">Nội dung phản hồi</th>
                     <th scope="col">Xóa</th>
                  </tr>
                  {{#each feedback}}
                  <tbody id="myTable">
                     <tr>
                     <td>{{this.tenKH}}</td>
                     <td>{{this.sdtKH}}</td>
                     <td>{{this.contentFB}}</td>
                     <td>
                        <span id="deleteId" class="status-btn-delete" data-toggle="modal" data-id="{{this._id}}" data-target="#modal-delete">Xoá</span>
                     </td>
                  </tr>
                  </tbody>
                  
                  {{!-- {{else}}
                        <tr>
                           <td>Chưa có nhân viên</td>
                        </tr> --}}
                  {{/each}}
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

<div id="modal-delete" class="modal ">
      <div class="modalContent">
         <div class="modal-header">
            <p>Xoá nội dung</p>   
            <i class="fa-solid fa-xmark"></i>     
         </div>
         <div class="modal-content">
            <p>Bạn có chắc chắn muốn xoá ?</p>
         </div>
         <div class="modal-footer">
            <button id="del" class="del"  >Xoá</button>
            <button id="cancel" class="cancel" >Huỷ</button>
      </div>
   </div>
</div>   
<form name="delete-form" method="POST"></form>

<script>
   var deleteId;
   var deleteForm = document.forms['delete-form'];
   var btnDeleteModal = document.getElementById('del');

   var modal = document.querySelector('.modal'); 
   var iconClose = document.querySelector('.modal-header i');
   var cancel = document.querySelector('.cancel');  
  
   var open_modal= document.querySelectorAll('.status-btn-delete');
   Array.from(open_modal).forEach(btnDelete => {
      btnDelete.addEventListener('click', function(e) {
         deleteId= e.target.getAttribute('data-id');
         modal.classList.add('show');
      })
   })

   iconClose.addEventListener('click', ()=>{
      modal.classList.remove('show');
   })

   cancel.addEventListener('click', () =>{
      modal.classList.remove('show');
   })
   
   btnDeleteModal.onclick = function() {         
      deleteForm.action = '/feedback/'+ deleteId + '?_method=DELETE';
      deleteForm.submit();
   }

</script>




      