  <!-- Start main -->
      <main class="main-section">
         <!-- Start Slider -->
         <div class="slider-area slider-height2">
            <div class="slider-slogan-container">
               <div class="slider-slogan">
                  <span class="slider-slogan-text">
                     Chi tiết đặt phòng
                  </span>
               </div>
            </div>
         </div>

      <!-- Start Content -->
      <div class="content-section">
         <div class="content-container">
            <div class="grid">
                <div class="booking-room-head">
                    <div class="booking-room-pic">
                        <img src="https://i.pinimg.com/564x/af/15/29/af15290f3e346b822ef3e4cc55a8cf72.jpg" alt="">
                    </div>
                    <div class="booking-room-description">
                        <p class="room-detail-description-name">{{rooms.r_name}}</p>
                        <p class="room-detail-description-price">{{rooms.r_price}}</p>
                        <p class="room-detail-description-content">{{rooms.r_desc}}</p>
                        <p class="room-detail-description-note">Số người ở: {{rooms.r_people.adult}} người lớn, {{rooms.r_people.children}} trẻ em</p>
                        <p class="room-detail-description-note">Giường: {{rooms.r_bed}} </p>
                        <p class="room-detail-description-note">Tiện ích: {{rooms.r_utilities}}</p>
                    </div>
                </div>
    
                <hr>
                <div class="booking-room-title">
                    <h3 class="title-item">Thông tin đặt phòng</h3>
                </div>                 
                  <form class="form" method="POST" action="showBookingRoom/store">
                  <input hidden name="roomID" value="{{rooms._id}}" type="text">           
                     <div class="form-group">
                        <label for="username" class="form-label">Tên khách hàng</label>
                        <input id="username" name="c_name" type="text" class="form-input" placeholder="Học và tên">
                        <span class="form-msg">Vui lòng nhập trường này</span>
                     </div>

                     <div class="form-group">
                        <label for="username" class="form-label">Số điện thoại</label>
                        <input id="username" name="c_phone" type="text" class="form-input" placeholder="09XX XXX XXX">
                        <span class="form-msg">Vui lòng nhập trường này</span>
                     </div>

                     <div class="form-group">
                        <label for="username" class="form-label">Email</label>
                        <input id="username" name="c_email" type="text" class="form-input" placeholder="abc@gmail.com">
                        <span class="form-msg">Vui lòng nhập trường này</span>
                     </div>

                     <div class="form-group-row">
                        <div class="form-group col-6 padding-right-10">
                           <label for="username" class="form-label">Ngày nhận phòng</label>
                           <input id="username" name="c_checkin" type="text" class="form-input" placeholder="dd/mm/yyyy">
                           <span class="form-msg">Vui lòng nhập trường này</span>
                        </div>
                        <div class="form-group col-6 padding-left-10">
                           <label for="username" class="form-label">Ngày trả phòng</label>
                           <input id="username" name="c_checkout" type="text" class="form-input" placeholder="dd/mm/yyyy">
                           <span class="form-msg">Vui lòng nhập trường này</span>
                        </div>
                     </div>
                     
                     <hr>

                     {{!-- <div class="form-group">
                        <label for="username" class="form-label">Mã khuyến mãi</label>
                        <input id="username" type="text" class="form-input" placeholder="Mã khuyến mãi">
                        <span class="form-msg">Vui lòng nhập trường này</span>
                     </div> --}}
                     <div class="total-money">
                        <p>Tổng tiền</p>
                        <p>{{rooms.r_price}}</p>
                     </div>                     
                     <div class="login-btn">
                        <button class="btn-reverse btn--size-md btn--size-full">ĐẶT PHÒNG</button>
                     </div>
                  </form>             
            </div>
         </div>
      </div>

      <!-- End Content -->

      </main>
      <!-- End main -->