<!-- Start main -->
<main class="main-section">
   <!-- Start Slider -->
   <div class="slider-area slider-height2">
      <div class="slider-slogan-container">
         <div class="slider-slogan">
            <span class="slider-slogan-text">
               Danh sách phòng
            </span>
         </div>
      </div>
   </div>

   <!-- End Slider -->

   <!-- Start Content -->
   <div class="content-section">
      <div class="content-container">
         <div class="grid wide">
            <div class="row">
               {{!-- room-sort-searching --}}
               <div class="col l-3 m-12 c-12">
                  <div class="content-title"> Tìm kiếm nhanh</div>

                  <form method="POST" action="room/available">
                     <div class="date-checkin">
                        <div class="input-with-icon-container">
                           <input required class="search-bar-input" type="datetime-local" name="checkinDate" data-toggle="startDate"
                              placeholder="Ngày nhận phòng">
                           <i class="check-in-icon fa-solid fa-calendar"></i>
                        </div>
                     </div>

                     <div class="date-checkin">
                        <div class="input-with-icon-container">
                           <input required class="search-bar-input" type="datetime-local" data-toggle="endDate" name="checkoutDate" placeholder="Ngày trả phòng">
                           <i class="check-in-icon fa-solid fa-calendar"></i>
                        </div>
                     </div>
                     <div class="btn-booking-detail">
                        <button style="width: 100%;" type="submit" class="btn btn-reverse btn--size-s">Lọc phòng</button>
                     </div>
                  </form>

                  <div class="room-categories">
                     <div class="room-categories-item">
                        <span>Loại phòng</span>
                        <i class="check-in-icon fa-solid fa-circle-chevron-down"></i>
                     </div>


                     <div class="room-categories-detail">
                        <a href="/room/query/standard">Phòng Standard</a>
                        <a href="/room/query/superior">Phòng Superior</a>
                        <a href="/room/query/deluxe">Phòng Deluxe</a>
                        <a href="/room/query/suite">Phòng Suite</a>
                     </div>

                     <div class="room-categories-item">
                        <span>Số người ở</span>
                        <i class="check-in-icon fa-solid fa-circle-chevron-down"></i>
                     </div>
                     <div class="room-categories-detail">

                        <a href="/room/query/1">1 người</a>
                        <a href="/room/query/2">2 người</a>
                        <a href="/room/query/3">3 người</a>
                        <a href="/room/query/4">4 người</a>
                     </div>

                     {{!-- <div class="room-categories-item">
                        <span>Giá phòng</span>
                        <i class="check-in-icon fa-solid fa-circle-chevron-down"></i>
                     </div>
                     <div class="room-categories-detail">
                        <a href="#"> Dưới 700.000VND</a>
                        <a href="#">700.000VND - 1.000.000VND</a>
                        <a href="#">1.100.000VND - 1.500.000VND</a>
                        <a href="#">1.600.000VND - 2.000.000VND</a>
                        <a href="#">2.100.000VND - 3.500.000VND</a>
                     </div> --}}
                  </div>
               </div>

               {{!-- rooms-container --}}
               <div class="col l-9 m-12 c-12">
                  <div class="row">
                     <div class="col l-6 m-12 c-12 l-o-6">
                        <div class="input-with-icon-container search-room">
                           <input id="myInput" class="search-bar-input" type="text" name="input-search"
                              placeholder="Nhập tìm kiếm...">
                           <i class="search-bar-icon fa-solid fa-magnifying-glass"></i>
                        </div>
                     </div>
                  </div>


                  <div class="row">
                     {{#each rooms}}
                     <div class="js-myroom col l-4 m-6 c-12">
                        <a href="/room/{{this._id}}" class="room-link">
                           <div class="room-card">
                              <div class="room-img-container" style="background-image: url({{this.r_img.thumbnail}});">
                              </div>

                              <div class="room-info">
                                 <span class="room-type">{{this.r_name}}</span>
                                 <p class="room-people">{{this.r_people}} người</p>
                                 <div class="room-value">
                                    <span class="room-price">{{this.r_price}}</span>
                                    <i class="fa-solid fa-dong-sign"></i>
                                    <!-- <p class="room-price-per">per night</p> -->
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>

                     {{/each}}
                  </div>

               </div>
            </div>
         </div>
      </div>
      <!-- End Content -->
   </div>


</main>
<!-- End main -->
{{!-- Script chọn ngày giờ--}}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/js/filter.js"></script>
<script src="/js/date.js"></script>