<!-- Start main -->
<main class="main-section">
   <!-- Start Slider -->
   <div class="slider-area slider-height2">
      <div class="slider-slogan-container">
         <div class="slider-slogan">
            <span class="slider-slogan-text">
               Chi tiết đặt phòng
            </span>
         </div>
      </div>
   </div>

   <!-- Start Content -->
   <div class="content-section">
      <div class="content-container">
         <div class="grid wide">
            <div class="booking-room-head">
               <div class="booking-room-pic">
                  <img src="{{rooms.r_img.thumbnail}}" alt="">
               </div>
               <div class="booking-room-description">
                  <p class="room-detail-description-name">Số phòng: {{rooms.r_number}}</p>
                  <p class="room-detail-description-name">Tên phòng: {{rooms.r_name}}</p>
                  <p id="room-price" class="room-detail-description-price">{{rooms.r_price}}</p>
                  <p class="room-detail-description-content">{{rooms.r_desc}}</p>
                  <p class="room-detail-description-note">Số người ở: {{rooms.r_people}} người</p>
                  <p class="room-detail-description-note">Giường: {{rooms.r_bed}} </p>
                  <p class="room-detail-description-note">Tiện ích: {{rooms.r_utilities}}</p>
               </div>
            </div>
            <hr>
            <div class="booking-room-title">
               <h3 class="title-item">Thông tin đặt phòng</h3>
            </div>
            <form class="form small-form" method="POST" action="showBookingRoom/store">
               <input hidden name="roomID" value="{{rooms._id}}" type="text">
               <div class="row">
                  <div class="form-group col l-12 m-12 c-12">
                     <label for="username" class="form-label">Tên khách hàng</label>
                     <input required id="username" name="c_name" type="text" class="form-input booking-input"
                        placeholder="Họ và tên">
                     <span class="form-msg">Vui lòng nhập trường này</span>
                  </div>
               </div>

               <div class="row">
                  <div class="form-group col l-12 m-12 c-12">
                     <label for="username" class="form-label">Số điện thoại</label>
                     <input required id="username" name="c_phone" type="text" class="form-input booking-input"
                        placeholder="09XX XXX XXX">
                     <span class="form-msg">Vui lòng nhập trường này</span>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col l-12 m-12 c-12">
                     <label for="username" class="form-label">Email</label>
                     <input id="username" name="c_email" type="text" class="form-input booking-input"
                        placeholder="abc@gmail.com">
                     <span class="form-msg">Vui lòng nhập trường này</span>
                  </div>
               </div>

               <div class="row">
                  {{#each bookedDates}}
                  <input hidden class="bookedCheckIn" type="text" value="{{this.checkinDate}}">
                  <input hidden class="bookedCheckOut" type="text" value="{{this.checkoutDate}}">
                  {{/each}}
                  <div class="form-group col l-6 m-12 c-12 ">
                     <label for="username" class="form-label">Ngày nhận phòng</label>
                     <input id="checkin" name="c_checkin" type="datetime-local" data-toggle="startDate"
                        data-unavailable="booked" class="form-input booking-input" placeholder="Chọn ngày nhận phòng">
                     <span class="form-msg">Vui lòng nhập trường này</span>
                  </div>
                  <div class="form-group col l-6 m-12 c-12">
                     <label for="username" class="form-label">Ngày trả phòng</label>
                     <input id="checkout" name="c_checkout" type="datetime-local" data-toggle="endDate" data-unavailable="booked" class="form-input booking-input" placeholder="Chọn ngày trả phòng">
                     <span class="form-msg">Vui lòng nhập trường này</span>
                  </div>
               </div>

               <hr>
               <div class="row">
                  <div class="form-group col l-12 m-12 c-12 ">
                     <label id="form-label">Tổng tiền</label>
                     <input readonly id="total" name="c_total" type="text" class="form-input" value="{{rooms.r_price}}">
                  </div>

               </div>

               <div class="login-btn">
                  <button class="btn-reverse btn--size-md btn--size-full">ĐẶT PHÒNG</button>
               </div>
            </form>
         </div>
      </div>
   </div>

   <!-- End Content -->

</main>
<!-- End main -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
   var bookedCheckInDates = document.querySelectorAll('.bookedCheckIn');
   var bookedCheckOutDates = document.querySelectorAll('.bookedCheckOut');
   var disableDates = [];
   for (var i in bookedCheckInDates) {
      if (bookedCheckInDates.hasOwnProperty(i)) {
         var date = { from: bookedCheckInDates[i].value, to: bookedCheckOutDates[i].value };
         disableDates.push(date);
      }
   }
console.log(disableDates);
var checkoutDate = document.querySelector('[data-toggle="endDate"][data-unavailable="booked"]').flatpickr(
   {
      altInput: true,
      altFormat: "d-m-Y",
      minDate: new Date().fp_incr(0),
      dateFormat: "Y-m-d",
      disable: disableDates,
   }
);

var checkIn = document.querySelector('[data-toggle="startDate"][data-unavailable="booked"]').flatpickr(
   {
      altInput: true,
      altFormat: "d-m-Y",
      dateFormat: "Y-m-d",
      disable: disableDates,
      minDate: new Date().fp_incr(0),
      onChange: function(dateObj, dateStr) {  
         checkoutDate.set('minDate', new Date(dateStr).fp_incr(1));
         // flatpickr(checkoutDate, {dateFormat: "d-m-Y", minDate: new Date(dateStr).fp_incr(1)});
     }
   }
 );

</script>