<div class="main">
   <div class="header">
      <div class="menu-mobile">
         <label for="nav-mobile-input">
            <i class="fa-solid fa-bars"></i>
         </label>
      </div>

      <div class="user-avatar">
         <div class="user-img-container">
            <img src="https://demo.dashboardpack.com/cryptocurrency-html/img/transfer/4.png" alt="" class="user-img">
         </div>
         <div class="user-info">
            <p class="user-name">User Name</p>
            <p class="user-role">User Role</p>
         </div>

         <div class="user-function">
            <a href="" class="function-item">Log Out</a>
         </div>
      </div>
   </div>

   <div class="content">
      <div class="grid">
         <p class="page-title">Phiếu checkin</p>
         <div class="table-list-container">

            <form method="POST" action="">
               <div class="row">
                  <div class="col l-4 m-4 c-12">
                     <label for="room-img" class="form-label">Tên khách hàng</label>
                     <input id="room-img" type="text" class="form-input" value="{{cusBooked.c_name}}">
                  </div>

                  <div class="col l-4 m-4 c-12">
                     <label for="room-type" class="form-label">Số điện thoại</label>
                     <input id="room-type" type="text" class="form-input" value="{{cusBooked.c_phone}}">
                  </div>

                  <div class="col l-4 m-4 c-12">
                     <label for="room-people" class="form-label">Email</label>
                     <input id="room-people" type="text" class="form-input" value="{{cusBooked.c_email}}">
                  </div>
               </div>

               <div class="row">
                  <div class="col l-6 m-6 c-12">
                     <label for="room-img" class="form-label">Ngày nhận phòng</label>
                     <input id="room-img" type="text" class="form-input" value="{{cusBooked.c_checkin}}">
                  </div>

                  <div class="col l-6 m-6 c-12">
                     <label for="room-type" class="form-label">Ngày trả phòng</label>
                     <input id="room-type" type="text" class="form-input" value="{{cusBooked.c_checkout}}">
                  </div>
               </div>

               <div class="row">
                  <div class="col l-4 m-4 c-12">
                     <label for="room-img" class="form-label">Số phòng</label>
                     <input id="room-img" type="text" class="form-input" value="{{cusBooked.room.roomID.r_number}}">
                  </div>

                  <div class="col l-4 m-4 c-12">
                     <label for="room-type" class="form-label">Tên phòng</label>
                     <input id="room-type" type="text" class="form-input" value="{{cusBooked.room.roomID.r_name}}">
                  </div>

                  <div class="col l-4 m-4 c-12">
                     <label for="room-people" class="form-label">Giá phòng</label>
                     <input id="room-people" type="text" class="form-input" value="{{cusBooked.room.roomID.r_price}}">
                  </div>
               </div>
               
               <div class="row no-gutters submit-btn-container">
                  <a href="/admin/checkIn/{{cusBooked._id}}/checkInBooking/taophieu" class="status-btn submit-btn">Tạo phiếu checkin</a>
               </div>
            </form>

            <br>
            <hr>

            <div class="row row-table-checkin">
               <div class="col l-6 m-12 c-12 table-checkin">
                  <p class="page-title">Danh sách chờ checkin</p>
                  {{!-- row row-staff filter-row-mobile filter-row-mobile-noreverse row-margin --}}
                  <div class="">
                     <div class="col l-4 m-12 c-12 l-o-8">
                        <div class="search-bar">
                           <i class="search-icon fas fa-search"></i>
                           <input id="myInputAdmin" class="search-input" type="text" name="input-search" placeholder="Nhập tìm kiếm...">
                        </div>
                     </div>

                     <div class="table-container table-checkin-management">
                        <table class="data-table">
                           <tr>
                              <th scope="col">Số phòng</th>
                              <th scope="col">Tên phòng</th>
                              <th scope="col">Tên khách hàng</th>
                              <th scope="col">Số điện thoại</th>
                              <th scope="col">Ngày nhận phòng</th>
                              <th scope="col">Ngày trả phòng</th>
                              <th scope="col">Checkin</th>
                           </tr>
                           {{#each roomBooked}}
                           <tbody id="myTable">
                              <tr>
                              <td>{{this.room.roomID.r_number}}</td>
                              <td>{{this.room.roomID.r_name}}</td>
                              <td>{{this.c_name}}</td>
                              <td>{{this.c_phone}}</td>
                              <td>{{this.c_checkin}}</td>
                              <td>{{this.c_checkout}}</td>
                              <td>
                                 <a class="status-btn" href="/checkInAdmin/{{this._id}}/checkInBooking">Checkin</a>
                              </td>
                           </tr>
                           </tbody>
                           
                           {{/each}}
                        </table>
                     </div>
                  </div>
               </div>

               <div class="col l-6 m-12 c-12 table-room">
                  <p class="page-title">Danh sách phòng trống</p>
                  {{!-- row row-staff filter-row-mobile filter-row-mobile-noreverse row-margin --}}
                  <div class="row">
                     <div class="col l-4 m-12 c-12 l-o-8">
                        <div class="search-bar">
                          <i class="search-icon fas fa-search"></i>
                           <input id="myInput" class="search-bar-input" type="text" name="input-search"
                              placeholder="Nhập tìm kiếm...">
                        </div>
                     </div>

                     {{#each rooms}}
                     <div class="js-myroom col l-4 m-6 c-12">
                        <a href="" class="adm-room-link">
                           <div class="adm-room-card adm-room-card-checkin">
                              {{!-- <div class="adm-room-img"
                                 style="background-image: url({{this.r_img.thumbnail}});">
                                 <div class="adm-room-number">{{this.r_number}}</div>
                                 <div class="adm-room-status">{{this.r_status}}</div>
                              </div> --}}
                              <div class="adm-room-info">
                                 <div class="adm-room-attr">
                                    <span class="adm-room-type">{{this.r_number}}</span>
                                    <span class="adm-room-type">{{this.r_name}}</span>
                                    <span class="adm-room-price">{{this.r_price}}
                                       <!-- <i class="fa-solid fa-dong-sign"></i> -->
                                    </span>

                                 </div>
                                 <div class="adm-room-value">
                                    <p class="adm-room-people">{{this.r_people}} người</p>
                                    <p class="adm-room-people">Giường: {{this.r_bed}}</p>
                                    
                                 </div>
                              </div>
                           </div>
                        </a>
                     </div>
                     {{/each}}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>