<div class="main">
    <div class="header">
        <div class="menu-mobile">
            <label for="nav-mobile-input">
                <i class="fa-solid fa-bars"></i>
            </label>
        </div>

        <div class="user-avatar">
            <div class="user-img-container">
                <img src="https://demo.dashboardpack.com/cryptocurrency-html/img/transfer/4.png" alt=""
                    class="user-img">
            </div>
            <div class="user-info">
                <p class="user-name">User Name</p>
                <p class="user-role">User Role</p>
            </div>

            <div class="user-function">
                <a href="" class="function-item">Log Out</a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="grid">
            <p class="page-title">Chỉnh sửa phiếu checkin</p>
            <div class="table-list-container">

                <form action="/admin/checkIn/{{customers._id}}/update?_method=PUT" method="POST">
                    <div class="row">
                        <div class="col l-4 m-4 c-12">
                            <label for="room-img" class="form-label">Tên khách hàng</label>
                            <input id="room-img" name="c_name" type="text" class="form-input"
                                value="{{customers.c_name}}">
                        </div>

                        <div class="col l-4 m-4 c-12">
                            <label for="room-type" class="form-label">Số điện thoại</label>
                            <input id="room-type" name="c_phone" type="text" class="form-input"
                                value="{{customers.c_phone}}">
                        </div>

                        <div class="col l-4 m-4 c-12">
                            <label for="room-people" class="form-label">Email</label>
                            <input id="room-people" name="c_email" type="text" class="form-input"
                                value="{{customers.c_email}}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l-6 m-6 c-12">
                            <label for="room-img" class="form-label">Ngày nhận phòng</label>
                            <input disabled id="room-checkin" name="c_checkin" type="text" class="form-input"
                                data-date="{{customers.c_checkin}}" value="">
                        </div>

                        <div class="col l-6 m-6 c-12">
                            <label for="room-type" class="form-label">Ngày trả phòng</label>
                            <input id="room-checkout" name="c_checkout" type="datetime-local" class="form-input"
                                data-date="{{customers.c_checkout}}" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l-4 m-4 c-12">
                            <label for="room-img" class="form-label">Số phòng</label>
                            <input disabled id="room-img" name="r_number" type="text" class="form-input"
                                value="{{customers.roomID.r_number}}">
                        </div>

                        <div class="col l-4 m-4 c-12">
                            <label for="room-type" class="form-label">Tên phòng</label>
                            <input disabled id="room-type" name="r_name" type="text" class="form-input"
                                value="{{customers.roomID.r_name}}">
                        </div>

                        <div class="col l-4 m-4 c-12">
                            <label for="room-people" class="form-label">Giá phòng</label>
                            <input disabled id="room-people" name="r_price" type="text" class="form-input"
                                value="{{customers.roomID.r_price}}">
                        </div>
                    </div>

                    <!-- <div class="row no-gutters">
                              <div class="col l-12 m-12 c-12">
                                 <div class="col l-12 m-12 c-12">
                                    <label class="form-label">Miêu tả phòng</label>
                                 </div>
                                 <div class="col l-12 m-12 c-12">
                                    <textarea name="" id="" class="form-textarea"
                                       placeholder="Nhập miêu tả tại đây..."></textarea>
                                 </div>
                              </div>
                           </div> -->

                    <div class="row no-gutters submit-btn-container">
                        <button class="status-btn submit-btn">Lưu chỉnh sửa</button>
                    </div>
                </form>

                <br>
                <hr>



            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    var dateCO = document.getElementById('room-checkout');
    var dateCI = document.getElementById('room-checkin');


    var date_co = dateCO.getAttribute('data-date');
    console.log(date_co)
    var date_ci = dateCI.getAttribute('data-date');
    console.log(date_ci)
    var checkoutDate = document.querySelector('#room-checkout').flatpickr(
        {
            altInput: true,
            altFormat: "d-m-Y",
            dateFormat: "Y-m-d",
            defaultDate: [date_co],
            minDate: new Date().fp_incr(0)
        }
    );
    var checkinDate = document.querySelector('#room-checkin').flatpickr({
        altInput: true,
        altFormat: "d-m-Y",
        dateFormat: "Y-m-d",
        defaultDate: [date_ci]
    })


</script>